crewai
litellm[proxy]==1.75.3
folium
geopy
langchain_chroma
langchain_community
langchain_ollama
langchain_text_splitters
pandas
pypdf
plotly
python-dotenv
streamlit
streamlit_folium
tiktoken
numpy>=2.4.1